<div id="carouselExampleControls" class="carousel slider" data-ride="carousel">
	<div class="rectangle ">
		<div class="elemento carousel-item active">
			<img class="background-image"src="/assets/images/noticias/Home5.jpg" alt="Engie">
			<div class="button_link link_rectangle text_style_6">ENGIE UN BUEN VECINO</div>
			<p class="text_style_7">Proyecto sustentable</p>
			<p class="text_style_4 bottom_p">6 de abril de 2020</p>
		</div>
	  	<div class="elemento carousel-item">
			<img class="background-image" src="/assets/images/noticias/Home8.jpg" alt="Engie">
			<div class="button_link link_rectangle text_style_6">ENGIE UN BUEN VECINO X</div>
			<p class="text_style_7"> ENGIE lleva a cabo sus acciones de ayuda Covid-19</p>
		<p class="text_style_4 bottom_p">6 de abril de 2021</p>
		</div>
		<div class="controls">
			<div class="ellipse elipse_slider elipse_slider_left" href="#carouselExampleControls" role="button" data-slide="prev">
				<img src="/assets/images/icons/arrow_back_white.png">
			</div>
			<div class="ellipse elipse_slider" href="#carouselExampleControls" role="button" data-slide="next" >
				<img src="/assets/images/icons/arrow_forward_white.png">
			</div>
		</div>
	</div>	
</div>
