
<ul class="noticias">
		<li theme class="darkmode box-news" style="margin-top:0px;">
			<div class="card-image">
			<div class="image-container">
			<img src="/assets/images/noticias/Home6.jpg" alt="Engie">
		    </div>
		 </div>
		 			<div class="content_txt">
			 <div class="button_link link_rectangle __noticias_link text_style_5">NUEVOS PROYECTOS</div>
			 <p>ENGIE anuncia la construcción del mega proyecto Cuxtal</p> <div class="date">31 de enero de 2020</div>
		     </div>
		</li>


		<li theme class="darkmode box-news" style="margin-bottom:0px;">
			<div class="card-image">
			<div class="image-container">
			<img src="/assets/images/noticias/Home7.jpg" alt="Engie">
		</div>
	</div>
			<div class="content_txt">
			 <div class="button_link link_rectangle __noticias_link text_style_5">VACANTES</div>
			 <p>Intégrate a nuestro equipo</p>
		   </div>
		</li>
</ul>