<div class="popular_stories">
	<h3>Noticias anteriores</h3>
	<div class="_txt" style="margin-top:0px;">
	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do lorem ipsum dolor sit amet.</p> 
	 <div class="date">16 de diciembre de 2019</div>
	</div>
	<div class="_txt">
	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do lorem ipsum dolor sit amet.</p> 
	 <div class="date">16 de diciembre de 2019</div>
	</div>
	<div class="_txt">
	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do lorem ipsum dolor sit amet.</p> 
	 <div class="date">16 de diciembre de 2019</div>
	</div>
	<div class="_txt">
	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do lorem ipsum dolor sit amet.</p> 
	 <div class="date">16 de diciembre de 2019</div>
	</div>
	<div class="_txt" style="margin-bottom:60px;">
	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do lorem ipsum dolor sit amet.</p> 
	 <div class="date">16 de diciembre de 2019</div>
	</div>
	<div class="button_link link_rectangle __noticias_link text_style_5" style="margin: 0 auto;">VER MÁS NOTICIAS</div>
</div>
