<footer>
	<div class="row justify-content-md-center">
		<div class="col col-lg-4 padding_0 margin_0"><div class="logo"><img src="/assets/images/logo-blanco.svg" alt="Engie"></div></div>
		<div class="col col-lg-8 padding_0 margin_0" style="text-align:center;"><h3>La energía es nuestro futuro, ahórrala</h3></div>
	</div>
	<hr>
	<div class="row justify-content-md-center">
		<div class="col"></div>
		<div class="col-md-auto">
	<ul class="nav">
     <li class="nav-item text_style_4" style="margin-left:0px;">Mapa del sitio </li>
     <li class="nav-item text_style_4">Términos y condiciones</li>
     <li class="nav-item text_style_4">Avisos legales</li>
     <li class="nav-item text_style_4" style="margin-right:0px;">Contactos</li>
   </ul>
</div>
   <div class="col"></div>
</div>
<div class="row justify-content-md-center">
<div class="col"></div>
<div class="col-md-auto social">
 <div class="col"><i class="fab fa-facebook-f"></i></div>
  <div class="col"><i class="fab fa-instagram"></i></div>
  <div class="col"><i class="fab fa-linkedin-in"></i></div>
  <div class="col"><i class="fab fa-youtube"></i></div>
</div>
<div class="col"></div>
</div>
</footer>
