<div class="top_header"></div>
<header theme class="darkmode">
	 <div theme class="encabezado row darkmode">
	  <div class="col-sm">
	  	<div class="button_link __header text_style_5">EMERGENCIAS 800 909 9999</div>
	  </div>
	  <div class="col-sm">
	  	 <div class="logo">
	  	 	<a routerLink="">
	  	 <img src="/assets/images/logotipo-engie-mexico-azul.svg" alt="Engie">
	  	 	 </a>
	  	  </div>
      </div>
	  <div class="col-sm">
	  	<div class="button_link __header __right text_style_5">ATENCIÓN A CLIENTES 800 000 6294</div>
	  </div>
    </div>
	<hr/>
	<div theme class="menu row darkmode" #stickyMenu [class.sticky] = "sticky">
		<div class="col-sm-10 padding_0">
			<ul class="nav">
				<li class="nav-item text_style_4">
				 <a routerLink="noticias">
				 	Noticias
				 </a>
			    </li>
				<li class="nav-item text_style_4">Responsabilidad social</li>
				<li class="nav-item text_style_4">Nuestro grupo <img src="/assets/images/icons/arrow_down_black.png"></li>
				<li class="nav-item text_style_4">Servicios <img src="/assets/images/icons/arrow_down_black.png"></li>
				<li class="nav-item text_style_4">Actividades <img src="/assets/images/icons/arrow_down_black.png"></li>
				<li class="nav-item text_style_4">Bolsa de trabajo <img src="/assets/images/icons/arrow_down_black.png"></li>
				<li class="nav-item text_style_4">Boletín electrónico <img src="/assets/images/icons/arrow_down_black.png"></li>
				<li class="nav-item text_style_4">Sala de prensa</li>
			</ul>
		</div>
		<div class="col-sm-2 padding_0" style="margin-top:10px;">
			<a href="#" class="button_link __dusty-orange text_style_6" style="float:left;">MI CUENTA</a>
			<div class="ellipse search"><img src="/assets/images/icons/search.png"></div>
		</div>
	</div>
</header>