<ul class="rectangle">
	<li style="margin-top:0px;">
	 <div class="background-image" style="background-image: url('/assets/images/rectangle/home.jpg')"></div>
	  <div class="button_link link_rectangle text_style_5">MI CUENTA</div>
	  <p class="text_style_3 width_1">Descarga y paga tu factura de Gas Natural</p>
	</li>

	<li>
	  <div class="background-image" style="background-image: url('/assets/images/rectangle/Home3.png');"></div>
	  <div class="button_link link_rectangle text_style_5">INDUSTRIA</div>
	  <p class="text_style_3 width_2">Soluciones de energía y servicio sin importar el sector</p>
	</li>

		
	<li  style=" margin-bottom:0px;">
	  <div class="background-image" style="background-image: url('/assets/images/home/Home4.jpg');"></div>	
	  <div class="button_link link_rectangle text_style_5">MARKETPLACE</div>
	  <p class="text_style_3 width_3">Los mejores productos en gas, electricidad y hogar para ti.</p>
	</li>

</ul>
