<ul class="noticias">

 <li style="margin-top:0px;">
  <div class="card-image">
   <div class="image-container">
	<img src="/assets/images/noticias/movilidad.jpg">
   </div>
  </div>
  <div class="content_txt">
   <div class="button_link link_rectangle __noticias_link text_style_5">MOVILIDAD VERDE
   </div>
   <p>
    ENGIE y 99 Minutos incursionan en movilidad eléctrica para flotilla en México
   </p>
   <div class="date">
    16 de diciembre de 2019
   </div>
  </div>
</li>

		<li>
			<div class="card-image">
			<div class="image-container">
			<img src="/assets/images/noticias/financiamiantoverde.jpg">
			 </div>
		 </div>
		 			<div class="content_txt">
			 <div class="button_link link_rectangle __noticias_link text_style_5">ENERGÍA RENOVABLE</div>
			 <p>ENGIE logra su primer financiamiento verde en México para proyectos renovables</p> <div class="date">11 de diciembre de 2019</div>
		     </div>
		</li>

		<li>
			<div class="card-image">
			<div class="image-container">
			<img src="/assets/images/noticias/estacion.jpg">
			 </div>
		 </div>
			<div class="content_txt">
		<div class="button_link link_rectangle __noticias_link text_style_5">MOVILIDAD VERDE</div>
			 <p>ENGIE propone en marcha su primera estación de Gas Natural Vehicular en Veracruz</p>
			 <div class="date">27 de noviembre de 2019</div>
		    </div>
		</li>

		<li>
			<div class="card-image">
			<div class="image-container">
			<img src="/assets/images/noticias/inauguracion.jpg">
			 </div>
		 </div>
			<div class="content_txt">
			 <div class="button_link link_rectangle __noticias_link text_style_5">ENERGÍA RENOVABLE</div>
			 <p>ENGIE México Inaugura su Primer Parque Eólico en México: Tres Mesas III</p>
			 <div class="date">21 de agosto de 2019</div>
		    </div>
		</li>
</ul>
